<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品添加</title>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .title {
            width: 100%;
            height: 50px;
            background: paleturquoise;
        }

        .title h4 {
            line-height: 50px;
            margin-left: 50px;
        }

        .box_title {
            width: 100%;
            display: flex;
        }

        .box_title div {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="title">
            <h4>添加品牌</h3>
        </div>
        <div class="box_title">
            <div class="ind">
                <label>
                    id:
                    <input type="text" v-model='id'>
                </label>
            </div>
            <div class="name">
                <label>
                    name:
                    <input type="text" v-model='name' @keyup.enter='add'>
                    <input type="button" value="添加" @click='add'>
                </label>
            </div>
            <div class="keywords">
                <label>
                    搜索名称关键字:
                    <input type="text" v-model='keywords' v-focus v-color='"pink"'>
                </label>
            </div>
        </div>
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>ctime</th>
                <th>opt</th>
            </tr>
            <tr v-for='(item,i) in search(keywords)' :key='i'>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.ctime | gettime }}</td>
                <td><a href="" @click.prevent="del(item.id)">删除</a></td>
            </tr>
        </table>
    </div>
    <div id="app2">
        <p v-fontcolor = '"pink"'> {{ msg | gettime('') }}</p>
    </div>
</body>

<script>
    //自定义全局过滤器的方法  过滤器只能在插值表达式或者v-bind中使用
    //遵循就近原则过滤器名称一样时有私有的话私有会覆盖全局的过滤器
    Vue.filter('gettime', function (ctime) {
        var dt = new Date(ctime);
        var y = dt.getFullYear();
        var m = dt.getMonth();
        var d = dt.getDate();
        return `${y}-${m}-${d}`
    })
    //自定义全局指令的方法
    Vue.directive('focus', {
        bind: function (el) { },
        inserted: function (el) {
            el.focus()
        }
    });
    var vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                { id: 1, name: '宝马', ctime: new Date() },
                { id: 2, name: '奔驰', ctime: new Date() }
            ]
        },
        methods: {
            add() {
                var car = { id: this.id, name: this.name, ctime: new Date() };
                this.list.push(car);
                this.id = this.name = "";
            },
            del(id) {
                this.list.some((item, i) => {
                    if (item.id = id) {
                        this.list.splice(i, 1);
                        return true;
                    }
                });
            },
            search(keywords) {
                var newList = [];
                this.list.forEach(item => {
                    if (item.name.indexOf(keywords) != -1) {
                        newList.push(item);
                    }
                })
                return newList;
            }
        },
        directives: {
            //自定义私有指令方法
            'color': {
                bind: function (el, binding) {
                    el.style.color = binding.value;
                    // console.log(binding.value)
                },
                inserted: function () {

                },
                updated: function () {

                }
            }
        },
        filters: {

        }
    })
    var vm2 = new Vue({
        el: "#app2",
        data: {
            msg: new Date(),
        },
        filters: {
            gettime: function (ctime, opt = '') {
                var dt = new Date(ctime);
                var y = dt.getFullYear();
                var m = (dt.getMonth() + 1).toString().padStart(2,'0');
                var d = dt.getDate().toString().padStart(2,'0');
                if (opt.toLowerCase === 'yyyy-mm-dd') {
                    return `${y}-${m}-${d}`
                } else {
                    var h = dt.getHours().toString().padStart(2,'0');
                    var mm = dt.getMinutes().toString().padStart(2,'0');
                    var ss = dt.getSeconds().toString().padStart(2,'0');
                    return `${y}-${m}-${d} ${h}:${mm}:${ss}`
                }
            }
        },
        directives:{
            'fontcolor':{
                bind:function(el,binding){
                    el.style.color = binding.value;
                },
                inserted:function(){

                },
                updated:function(){

                }
            }
        }
    })
</script>

</html>